/* --------- Global style ----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Added google font styling*/
.agdasima-regular {
    font-family: "Agdasima", sans-serif;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", 
    font-optical-sizing: auto;
    font-style: thin;
}
  
/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ----------Home screen-----------*/

/* Full-screen background image */
#home-screen {
  background-size: cover;
  background-position: center;
  background-image: url('/assets/images/homeScreenFullBleed.jpg');
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

#home-screen .full-bleed {
  z-index: -1;
  position: absolute;
}

/* Content Home screen styles */

#home-screen .content {
  min-width: 600px;
  padding: 20px;
  color: white;
}

#home-screen h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Agdasima", sans-serif;
}

#home-screen h4 {
  font-size: 0.5rem;
  margin-bottom: 20px;
  font-family: "Montserrat", thin;
}


#home-screen #start-btn {
  background-color: #F39211;
  padding: 15px 30px;
  text-decoration: bold;
  font-size: 1.25rem;
  border-radius: 5px;
  margin-top:20%;
  z-index: 99;
}

#start-game {
  margin-top: 20%;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: #F39211;
  border-radius: 5px;
  color: white;
  text-decoration: bold;
}

#start-game:hover {
  background-color: #F39211;
}

/* -----------Home Screen Media Queries for responsiveness---------- */

/* Small phone screens media queries*/
@media (min-width: 425px) {
#home-screen h1 {
  font-size: 3.5rem;
}

#home-screen h4 {
  font-size: 1.5rem;
}

#home-screen #start-btn {
  font-size: 14px;
  padding: 8px 16px;
}
}

/* Large phone screens media queries*/
@media (min-width: 768px) {
#home-screen h1 {
  font-size: 4rem;
}

#home-screen h4 {
  font-size: 1.8rem;
}
#home-screen #start-btn {
  font-size: 15px;
  padding: 10px 20px;
}
}

/* Medium ipad and laptop screens media queries */
@media (min-width: 992px) {
#home-screen h1 {
  font-size: 5rem;
}
#home-screen h4 {
  font-size: 2rem;
}

#home-screen #start-btn {
  font-size: 16px;
  padding: 12px 24px;
}
}

/* Large laptop screens media queries*/
@media (min-width: 1220px) { 
#home-screen h1 {
  font-size: 7rem;
}
#home-screen h4 {
  font-size: 3rem;
}
#home-screen #start-btn {
  font-size: 18px;
  padding: 14px 28px;
}
}


/* --------------Game screen------------- */

.game-container {
  text-align: center;
  width: 90%;
}

.game-info {
  margin-bottom: 20px;
}

#timer, #moves-left {
  font-size: 1.2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  height: 680px;
  max-width: 660px;
}

.tile {
  width: 100px;
  height: 100px;
  background-color: #999;
  border-radius: 10px;
  transition: transform 0.5s;
  cursor: pointer;
}

.tile.flip {
  transform: rotateY(180deg);
}

.notification {
  font-size: 1.5rem;
  color: green;
  margin-top: 20px;
}

#restart-game .button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

/* -----------Game Screen Media Queries for responsiveness---------- */

/* Small phone screens media queries*/
@media (min-width: 576px) {
  .tile {
      width: 120px;
      height: 120px;
}
}

/* Phone screens media queries*/
@media (min-width: 768px) {
  .tile {
      width: 150px;
      height: 150px;
}
}

/* Ipad and laptop screens media queries*/
@media (min-width: 992px) {
  .tile {
      width: 180px;
      height: 180px;
}
}
/* Large laptop screens media queries*/
@media (min-width: 1200px) {
  .tile {
      width: 200px;
      height: 200px;
  }
}